streamlit
streamlit-cookies-manager
groq
cerebras-cloud-sdk
google-generativeai>=0.8.0
mistralai
cohere
openai
gspread
oauth2client
openpyxl
python-docx
pypdf
mammoth
pandas
requests

