streamlit==1.28.1
streamlit-cookies-manager==0.2.0
pandas==2.0.3
gspread==5.10.0
oauth2client==4.1.3
bcrypt==4.0.1
python-docx==0.8.11
mammoth==1.4.20
pypdf==3.17.1
openpyxl==3.1.2
groq==0.4.2
google-generativeai==0.3.0
cohere==4.34
mistralai==0.0.12
