streamlit==1.40.0
pandas==2.2.0
gspread==6.1.0
oauth2client==4.1.3
bcrypt==4.2.0
mammoth==0.3.1
pypdf==4.3.0
openpyxl==3.1.0
python-docx==0.8.11
groq==0.4.0
google-generativeai==0.3.0
cohere==5.0.0
mistralai==0.0.13
streamlit-cookies-manager==0.2.0
python-dotenv==1.0.0
